<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <file>cex.class.php</file>
        </include>
    </source>

    <php>
        <!-- Set these environment variables for integration tests -->
        <!-- <env name="CEX_API_KEY" value="your_api_key"/> -->
        <!-- <env name="CEX_API_SECRET" value="your_api_secret"/> -->
    </php>
</phpunit>
